<body>
  <div class="main">
    <p class="title">Últimas do blog</p>

    <div>
      <a href="https://google.com.br">
        <p>5 Dicas para sua carreira profissional</p>
      </a>
      <p>Confira algumas dicas que podem ajudar a alavancar sua carreira como desenvolver front-end</p>
    </div>
    <div>
      <a href="https://google.com.br">
        <p>5 Dicas para sua carreira profissional</p>
      </a>
      <p>Confira algumas dicas que podem ajudar a alavancar sua carreira como desenvolver front-end</p>
    </div>
    <div>
      <a href="https://google.com.br">
        <p>5 Dicas para sua carreira profissional</p>
      </a>
      <p>Confira algumas dicas que podem ajudar a alavancar sua carreira como desenvolver front-end</p>
    </div>
    <div>
      <a href="https://google.com.br">
        <p>Ver tudo</p>
      </a>
    </div>
  </div>
</body>
