<header class="cabecalho">
  <img src="../../../assets/imagens/logo.png" alt="Logo do cachorro" />

  <div class="logo">
    <a href="https://google.com.br">Blog</a>
    <a href="https://google.com.br">Sobre</a>
    <a href="https://google.com.br">Descrição</a>
  </div>
  <div>
    <p class="name">Victor Rodrigues Torres</p>
    <p class="about">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia,
      perspiciatis necessitatibus earum cum, sit hic ipsa illum, rerum aut autem
      enim eos debitis non ex? Asperiores voluptatum explicabo laborum nam Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Quia, perspiciatis
      necessitatibus earum cum, sit hic ipsa illum, rerum aut autem enim eos
      debitis non ex? Asperiores voluptatum explicabo laborum nam Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Quia, perspiciatis
      necessitatibus earum cum, sit hic ipsa illum, rerum aut autem enim eos
      debitis non ex? Asperiores voluptatum explicabo laborum nam Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Quia, perspiciatis
      necessitatibus earum cum, sit hic ipsa illum, rerum aut autem enim eos
      debitis non ex? Asperiores voluptatum explicabo laborum nam
    </p>
  </div>
</header>
