.cabecalho {
  background: #31578b;
  background-size: cover;
  color: white;
}

.cabecalho .logo {
  margin-left: 500px;
  width: 46%;
  margin-bottom: 50px;
}

.cabecalho a {
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 2rem 3rem;
}

.name {
  color: white;
  text-align: center;
  font-size: 2rem;
}

.about {
  text-align: center;
  font-size: small;
  padding: 1rem 2rem;
}

img {
  width: 150px; /* largura desejada */
  height: auto; /* para manter a proporção da imagem */
}


